#include "NewEntityType.h"
#include <ENGINE/Property.h>

NewEntityType::NewEntityType(const glm::vec3& pos) : MyEntity(pos)
{
	etype = "NewEntityType";
	shouldSave = true;

	CreateCollider(0, 48.0f, 16.0f, 16.0f);
	layer = DrawingLayer::COLLISION;
	drawOrder = 99;

	trigger = false;
	clickable = true;
}

NewEntityType::~NewEntityType()
{

}

void NewEntityType::Update(Game& game)
{

}

void NewEntityType::GetProperties(std::vector<Property*>& properties)
{
	MyEntity::GetProperties(properties);

	properties.emplace_back(new Property("Start Pos X", (int)startPosition.x));
	properties.emplace_back(new Property("Start Pos Y", (int)startPosition.y));
}

void NewEntityType::Save(std::unordered_map<std::string, std::string>& map)
{
	MyEntity::Save(map);
}

void NewEntityType::Load(std::unordered_map<std::string, std::string>& map, Game& game)
{
	MyEntity::Load(map, game);
}
